.header{
    display: flex;
    padding: 10px;
    .logo{
        flex: 0.5;
        padding-top: 5px;
        padding-left: 50px;
        .logo-pic{
            height: 60px;
            width: 60px;
        }
    }
    .names{
        display: flex;
        flex: 3;
        padding: 15px;
        text-align: center;
        font-size: 17px;
        font-weight: 400;
        color: #64748B;
        a {
            color: #64748B;
            text-decoration:none
        }
        .items{
            padding-top: 5px;
            padding-left: 40px;
        }
    }
    .icons{
        flex: 1;
        padding: 10px;
    }
}